html {
	scroll-behavior: smooth;
}

body {
    font-family: var(--font-poppins), sans-serif;
}

.parallax-text-1 {
	top: 20%;
	left: 0;
	transform: translateX(-100%);
	transition: transform 0.5s ease-out;
}

.parallax-text-2 {
	bottom: 20%;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.5s ease-out;
}


.header {
	/* position: fixed; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	position: relative;
	font-size: 25px;
	color: var(--lightColor);
	text-decoration: none;
	font-weight: 600;
}

.logo::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: 0.4s;
}

.navbar a {
	font-size: 18px;
	color: var(--lightColor);
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
}

.navbar a:hover {
	color: var(--primaryColor);
}

.navbar a:hover {
	color: var(--primaryColor);
}

.home {
	height: 100vh;
	/* background: url("/images/hero.jpg") no-repeat; */
	/* background: url("/images/hero2.webp") no-repeat; */
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 0 10%;
	background-color: var(--darkColor);
}

.home-content {
	max-width: 600px;
	margin-left: 20px;
}

.home-content h1 {
	position: relative;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
}

/* .home-content h1::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: .5s;
} */

.home-content h3 {
	position: relative;
	font-size: 32px;
	font-weight: 700;
	color: var(--primaryColor);
}

/* .home-content h3::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: 1.1s;
} */

.home-content p {
	position: relative;
	font-size: 16px;
	margin: 20px 0 40px;
}

/* .home-content p::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: 1.4s;
} */

.home-content .btn-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}

/* .home-content .btn-box::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: 1.2s;
	z-index: 2;
} */

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background-color: var(--primaryColor);
	border: 2px solid var(--primaryColor);
	border-radius: 8px;
	font-size: 13px;
	color: var(--darkColor);
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}

.btn-box a:hover {
	color: var(--primaryColor);
}

.btn-box a:nth-child(2) {
	background-color: transparent;
	color: var(--primaryColor);
}

.btn-box a:nth-child(2):hover {
	color: var(--darkColor);
}

.btn-box a:nth-child(2)::before {
	background-color: var(--primaryColor);
}

/* .btn-box a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--darkColor);
	z-index: -1;
	transition: 0.5s;
} */

.btn-box a:hover::before {
	width: 100%;
}

.home-sci {
	position: absolute;
	/* bottom: 40px; */
	margin-top: 40px;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

/* .home-sci::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: 2.5s;
	z-index: 2;
} */

.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 2px solid var(--primaryColor);
	border-radius: 50%;
	font-size: 20px;
	color: var(--primaryColor);
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
}

.home-sci a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: var(--primaryColor);
	z-index: -1;
	transition: 0.5s;
}

.home-sci a:hover {
	color: var(--darkColor);
}

.home-sci a:hover::before {
	width: 100%;
}

.home-imgHover {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: 1s;
	animation: manipActiveHover 0.1s forwards;
	animation-delay: 2s;
	pointer-events: none;
}

.home-imgHover:hover {
	background-color: var(--darkColor);
	opacity: 0.1;
}

.home-imgHover::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 120%;
	height: 100%;
	background-color: var(--darkColor);
	animation: showRight 1s ease forwards;
	animation-delay: 1s;
	z-index: 100;
}

.language-selector-container {
	position: absolute;
	right: 14px;
}

/* .div-empty {
	display: flex;
} */
/* KEYFRAMES ANIMATION */
@keyframes showRight {
	100% {
		width: 0;
	}
}

@keyframes manipActiveHover {
	100% {
		pointer-events: auto;
	}
}

@media (max-width: 640px) {
	.home {
		padding: 0 5%;
	}

	.header {
		padding: 14px 5%;
	}

	.navbar a {
		font-size: 14px;
		margin-left: 12px;
	}

	.home-content {
		max-width: 250px;
		margin-left: 0px;
	}
	.home-content h1 {
		font-size: 32px;
	}
	.home-content h3 {
		font-size: 16px;
	}
	.home-content p {
		font-size: 12px;
	}

	.home-content .btn-box {
		width: 300px;
		height: 40px;
	}

	.btn-box a {
		width: 130px;
		font-size: 12px;
	}

	.home-sci {
		/* bottom: 20px; */
		margin-top: 40px;
		width: 120px;
	}
	.home-sci a {
		width: 30px;
		height: 30px;
	}
}

/* ---------------------------------------------------------------------- */

.about-me-parallax {
    /* height: 100vh; */
	/* height: 150vh; */
    width: 100%;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: url("/images/background-texture.png") no-repeat;  */
	/* background: url("/images/bg.jpg") no-repeat; 
	background-size: cover;
	background-position: center; */
}

.about-me-parallax img {
    /* position: absolute; */
}

.ale-parallax {
    /* right: 5%; */
	/* top: 15%; */
    width: 600px;
	/* opacity: .2; */
	z-index: 20;
	right: 0;
    /* width: 20%; */
}

.logo-parallax {
    left: 10%;
	top: 20%;
    width: 600px;
	/* position: relative; */
	z-index: -1;
	opacity: .8;
}

/* .plus-parallax {
    left: 5%;
	top: 15%;
    width: 100px;
	z-index: -1;
} */

/* .lessEmpty-parallax {
	left: 5%;
	top: 80%;
    width: 100px;
	z-index: -1;
} */
/* 
.less-parallax {
    right: 5%;
	top: 80%;
    width: 100px;
	z-index: -1;
}

.plusEmpty-parallax {
    right: 5%;
	top: 15%;
    width: 100px;
	z-index: -1;
} */



.shape-parallax {
	left: 0%;
	top: 10%;
    width: 100px;
	z-index: -1;
}

.about-me {
	height: 100vh;
	/* background: url("/images/ale-bg.png") no-repeat; 
	background-size: cover;
	background-position: center; */
	display: flex;
	align-items: center;
	padding: 0 10%;
	justify-content: space-between;
}

.about-me-content {
	max-width: 600px;
	background-color: transparent;
	/* border: 2px solid rgba(255,255,255, 0.5); */
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	/* backdrop-filter: blur(15px); */

}

.custom-max-width-unset {
	@apply max-w-none;
	max-width: unset;
  }

  .ping-slow {
	animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }